@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
.loader_body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #353535;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  animation: showloader 1.5s ease-in-out forwards, hideloader 1.5s ease-in-out 1.5s forwards;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.loader_circle {
  width: 200px;
  height: 100px;
  border: 3px solid #FF79DA;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.loader_circle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 80px;
  background-color: #99E2D0;
  animation: load 3s infinite linear;
  display: inline-block;
}
.loader_circle::after {
  content: "Ohmyfood";
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  color: #9356DC;
  font-family: "Shrikhand";
  font-weight: 500;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

@keyframes load {
  100% {
    top: 0;
  }
}
@keyframes showloader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hideloader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
body {
  margin: 0 auto;
}

.fonction,
.restaurants,
.main_restaurant,
.main_restaurant_menu {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@keyframes bars {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  25% {
    transform: scaleY(0.25);
    opacity: 0.25;
  }
  50% {
    transform: scaleY(0.5);
    opacity: 0.5;
  }
  75% {
    transform: scaleY(0.75);
    opacity: 0.75;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes cardmenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cards {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  50% {
    transform: scaleX(0.5);
    opacity: 0.5;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes heart {
  0% {
    clip-path: circle(0 at 50% 50%);
  }
  100% {
    clip-path: circle(100% at 50% 50%);
  }
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
body a {
  cursor: pointer;
  text-decoration: none;
  color: #000000;
}
body li {
  list-style-type: none;
}

input[type=checkbox] {
  display: none;
}

button {
  outline: none;
  border: none;
  border-radius: 25px;
  font-family: "Roboto", sans serif;
  font-weight: 500;
  color: #FFFFFF;
  background: linear-gradient(#9356DC, #FF79DA);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  margin: 1rem;
  padding: 1rem;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(#ae80e5, #fface8);
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.2509803922);
}

.header_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  position: relative;
}
.header_logo a {
  position: absolute;
  left: 1rem;
}
.header_logo_img {
  width: 200px;
}
.header_logo .logo_icon {
  font-size: 1rem;
  font-weight: bold;
}

.location_search {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  padding: 1rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.location_search_icon {
  margin-right: 0.5rem;
}
.location_search_input {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0.5rem;
  width: 100%;
  max-width: 150px;
  background-color: #EAEAEA;
}
.location_search ::placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  font-family: "Roboto", sans serif;
  font-size: 1rem;
  font-weight: 500;
  color: #000000;
}

.explorer {
  text-align: center;
  padding: 1.5rem;
  background-color: #F6F6F6;
}
.explorer p {
  color: #353535;
  font-weight: 300;
  margin: 0.5rem;
}

.fonction {
  width: 100%;
}
.fonction h2 {
  text-align: left;
  padding: 1rem;
}
.fonction p {
  font-weight: 500;
  margin-left: 15px;
}
.fonction_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.fonction_cards_card {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 340px;
  height: 70px;
  padding: 1rem;
  margin: 1rem 0;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  position: relative;
}
.fonction_cards_card_number {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #9356DC;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 0.875rem;
  font-weight: 500;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  margin-left: -12px;
}
.fonction_cards_card_icon {
  font-size: 1.5rem;
  color: #7E7E7E;
  margin-left: 15px;
}
.fonction_cards_card_icon:hover {
  color: #9356DC;
}

.restaurants {
  width: 100%;
  margin-top: 1rem;
  padding: 20px;
  background-color: #F6F6F6;
}

.restaurants_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media (min-width: 1080px) {
  .restaurants_cards {
    flex-direction: row;
  }
}

.restaurants_card {
  width: 100%;
  max-width: 490px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}
@media (min-width: 1080px) {
  .restaurants_card {
    width: calc(50% - 20px);
    margin: 10px;
  }
}
.restaurants_card_figure {
  position: relative;
}
.restaurants_card_figure_img {
  width: 100%;
  max-height: 280px;
  object-fit: cover;
}
.restaurants_card_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
}
.restaurants_card .new {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99E2D0;
  color: #008766;
  padding: 10px;
  font-weight: 500;
  font-size: 0.8rem;
  border-radius: 5px;
}
.restaurants_card figcaption {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #FFFFFF;
}
.restaurants_card figcaption h3 {
  font-weight: 700;
}
.restaurants_card figcaption p {
  font-weight: 300;
}

.checkbox {
  display: flex;
  align-items: center;
  top: 10px;
  right: 10px;
  padding: 10px;
  font-size: 1.375rem;
}
.checkbox_input {
  display: none;
}
.checkbox_icon {
  display: inline-block;
  position: relative;
}
.checkbox_icon .fa-solid {
  color: #9356DC;
  opacity: 0;
  position: absolute;
  transform: scale(0);
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.checkbox_icon .fa_regular {
  position: relative;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.checkbox .checkbox_input:checked + .checkbox_icon .fa-solid {
  opacity: 1;
  transform: scale(1);
  animation: heart 1s ease-in-out forwards;
}
.checkbox .checkbox_input:checked + .checkbox_icon .fa-regular {
  opacity: 0;
}

.footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .footer_container {
    flex-direction: row-reverse;
    width: 100%;
    height: 115px;
  }
}
.footer h2 {
  font-family: "Shrikhand";
  font-size: 1.125rem;
  font-weight: 400;
  color: #FFFFFF;
  margin: 20px 20px;
  display: flex;
  flex-direction: row;
  align-items: end;
}
.footer_list {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .footer_list {
    flex-direction: row;
    margin: 20px 20px;
    align-items: end;
    gap: 20px;
  }
}
.footer_link {
  color: #FFFFFF;
  line-height: 25px;
}
.footer_link_icon {
  margin-right: 10px;
  font-size: 12px;
}
.footer_link_icon_2 {
  margin-right: 7px;
  font-size: 11px;
}

.bar {
  border: 3px solid #99E2D0;
  width: 40px;
  margin: 5px 0;
  animation: bars 1.5s;
  animation-iteration-count: 1;
}

.main_restaurant {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
@media (min-width: 1024px) {
  .main_restaurant {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
.main_restaurant_img {
  object-fit: cover;
  width: 100%;
  height: 280px;
}
.main_restaurant_menu {
  width: 100%;
  min-width: 375px;
  background-color: #F6F6F6;
  padding-top: 1rem;
  border-radius: 40px 40px 0 0;
  margin-top: -45px;
  position: relative;
  z-index: 1;
}

.container {
  margin: 0;
  flex-direction: column;
}
.container_content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_content .checkbox_input {
  position: relative;
  right: 0;
}
@media (min-width: 1440px) {
  .container_content {
    justify-content: center;
  }
}
.container_content > h1 {
  font-family: "Shrikhand";
  font-weight: 400;
}
.container .menu_1,
.container .menu_2,
.container .menu_3 {
  flex-direction: column;
  justify-content: space-between;
}
.container .menu_1 > h2,
.container .menu_2 > h2,
.container .menu_3 > h2 {
  font-weight: 300;
  font-family: "Roboto", sans serif;
  margin-top: 15px;
}
.container .menu_1.animate {
  -moz-animation: cardmenu 0.5s ease-in-out forwards;
  -webkit-animation: cardmenu 0.5s ease-in-out forwards;
  animation: cardmenu 0.5s ease-in-out forwards;
}
.container .menu_2.animate {
  -moz-animation: cardmenu 1s ease-in-out forwards;
  -webkit-animation: cardmenu 1s ease-in-out forwards;
  animation: cardmenu 1s ease-in-out forwards;
}
.container .menu_3.animate {
  -moz-animation: cardmenu 1.5s ease-in-out forwards;
  -webkit-animation: cardmenu 1.5s ease-in-out forwards;
  animation: cardmenu 1.5s ease-in-out forwards;
}
.container .menu_1 .start_box.animate:nth-child(1) {
  animation: cards 0.3s;
}
.container .menu_1 .start_box.animate:nth-child(2) {
  animation: cards 0.5s;
}
.container .menu_1 .start_box.animate:nth-child(3) {
  animation: cards 1s;
}
.container .menu_2 .start_box.animate:nth-child(1) {
  animation: cards 1.5s;
}
.container .menu_2 .start_box.animate:nth-child(2) {
  animation: cards 2s;
}
.container .menu_2 .start_box.animate:nth-child(3) {
  animation: cards 2.5s;
}
.container .menu_3 .start_box.animate:nth-child(1) {
  animation: cards 3s;
}
.container .menu_3 .start_box.animate:nth-child(2) {
  animation: cards 3.5s;
}
.container .menu_3 .start_box.animate:nth-child(3) {
  animation: cards 4s;
}
.container .start_box {
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
  animation: cards 2s;
}
.container .start_box:hover .check, .container .start_box:focus-within .check {
  margin-right: 0;
}
.container .start_box .card {
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70px;
  transform: none;
  background-color: #FFFFFF;
  margin: 10px;
}
.container .start_box .card_content {
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: hidden;
}
.container .start_box .card_content > h3 {
  font-family: "Roboto", sans serif;
  font-size: 1.125rem;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.container .start_box .card_content > p {
  font-family: "Roboto", sans serif;
  font-size: 1rem;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.container .start_box .card .price {
  font-size: 1rem;
  font-weight: bold;
  color: #353535;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-self: flex-end;
  margin-right: 15px;
  padding: 1rem;
}
.container .start_box .check {
  background-color: #99E2D0;
  width: 50px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 15px 15px 0;
  transition: 250ms ease-in-out;
  flex-shrink: 0;
  right: 0;
  top: 0;
  margin-right: -60px;
}

.order {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
