.loader_body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: $dark-grey;
  animation: showloader 2.7s forwards, hideloader 0.3s 2.7s forwards;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.loader_circle {
  width: 200px;
  height: 100px;
  border: 3px solid $second-color;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 80px;
    background-color: $third-color;
    animation: load 3s infinite linear;
    display: inline-block;
  }

  &::after {
    content: 'Ohmyfood';
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    color: $main-color;
    font-family: $shrikhand;
    font-weight: 500;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
  }
}

@keyframes load {
  100% {
    top: 0;
  }
}

@keyframes showloader {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hideloader {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}