@import './utils/variable';
@import './utils/keyframes';
@import './utils/mixins';

@import './layout/loader';
@import './layout/header';
@import './layout/footer';
@import './layout/heart';


// GENERAL

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: $roboto;
    font-size: 1rem;
    margin: 0;
    padding: 0;

    a {
        cursor: pointer;
        text-decoration: none;
        color: $black_color;
    }

    li {
        list-style-type: none;
    }
}

input[type="checkbox"]{
    display: none;
}

.button {
    @include btn;
}

// LOCATION

.location_search {
    @include flexCenter;
    background-color: $background;
    padding: 1rem;
    box-shadow: 0px 4px 4px 0px #00000040;

    &_icon {
        margin-right: 0.5rem;
    }

    &_input {
        @include flexCenter;
        border: none;
        padding: 0.5rem;
        width: 100%;
        max-width: 150px;
        background-color: $background;
    }

    ::placeholder {
        @include flexCenter;
        background-color: $background;
        font-family: $roboto;
        font-size: 1rem;
        font-weight: 500;
        color: $black_color;

    }
}

// EXPLORER

.explorer {
    text-align: center;
    padding: 1.5rem;
    background-color: $background-2;

    p {
        color: #353535;
        font-weight: 300;
        margin: 0.5rem;
    }

    a.button {
        @include btn;
        display: inline-block;
        margin-top: 1rem;
    }
}

// FONCTIONNEMENT

.fonction {

    width: 100%;
    max-width: 1080px;
    margin: 0 auto;

    h2 {
        text-align: left;
        padding: 1rem;
    }

    p {
        font-weight: 500;
        margin-left: 15px;
    }

    &_cards {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        &_card {
            display: flex;
            align-items: center;
            width: 100%;
            max-width: 340px;
            height: 70px;
            padding: 1rem;
            margin: 1rem 0;
            background-color: $background-2;
            border-radius: 20px;
            box-shadow: 0px 4px 15px 0px #00000026;
            position: relative;

            &_number {
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background-color: $main-color;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $white-color;
                font-size: 0.875rem;
                font-weight: 500;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                margin-left: -12px;

            }
    
            &_icon {
                font-size: 1.5rem;
                color: $grey-color;
                margin-left: 15px;
            }
        }
    }
}

.fa-store {
    color: $main-color;
}

// RESTAURANTS

.restaurants {
    background: $background;
    margin: 0 auto;

    h2 {
        max-width: 1080px;
        margin: 0 auto;
        padding: 1rem;
    }
}

.restaurants_cards {
    max-width: 1080px;
    width: 100%;
    display: grid;
    margin: 0 auto;

    @media (min-width: 1440px) {
        grid-template-columns: repeat(2, 1fr); // 2 colonnes
    }

    .card {
        @include card;
        margin: 10px auto;
        min-width: 340px;
        max-width: 490px;

        &__new {
            font-size: 14px;
            background-color: $third-color;
            width: 5rem;
            height: 30px;
            text-align: center;
            color: $green-color;
            font-weight: 500;
            position: absolute;
            top: 10px;
            right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__imgBox {
        
            & > img {
                width: 100%;
                height: 174px;
                border-radius: 15px 15px 0 0;
            }
        }

        &__content {
            padding: 10px;
            & > h3 {
                font-size: 18px;
                font-weight: bold;
            }
    
            & > p {
                font-size: 17px;
                font-weight: 300;
            }
        }
    }
}










// PAGE RESTAURANTS

.bar {
    @include bar;
}

.main_restaurant {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    position: relative;

    @media (min-width: 1024px) {
        @include flexCenter;
        width: 100%;
    }

    &_img {
        object-fit: cover;
        width: 100%;
        height: 280px;
    }

    &_menu {
        width: 100%;
        min-width: 375px;
        max-width: 1055px;
        background-color: $background-2;
        padding-top: 1rem;
        border-radius: 40px 40px 0 0;
        margin-top: -45px;
        position: relative;
        z-index: 1;
    }
}

.container {
    margin: 0;
    display: flex;
    flex-direction: column;

    &_content {
        display: flex;
        justify-content: center;
        align-items: center;

        &_checkbox {
            display: flex;
            text-align: center;
            position: relative;
        }

        @media (min-width: 1440px) {
            justify-content: center;
        }

        & > h1 {
            font-family: $shrikhand;
            font-weight: 400;
        }
    }
}

.menu_1, .menu_2, .menu_3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & > h2 {
        font-weight: 300;
        font-family: $roboto;
        margin-top: 15px;
        margin-left: 10px;
    }
}

.start_box {
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
    opacity: 0;
    animation: menu 1s forwards;

    &:hover .check,
    &:focus-within .check {
        margin-right: 0;
    }

    .card {
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        width: 100%;
        min-width: 350px;
        height: 70px;
        transform: none;
        background-color: $white-color;
        margin: 10px;

        &_content {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            padding: 1rem;
            overflow: hidden;

            & > h3 {
                font-family: $roboto;
                font-size: 1.125rem;
                font-weight: 500;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            & > p {
                font-family: $roboto;
                font-size: 1rem;
                font-weight: 300;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .price {
            font-size: 1rem;
            font-weight: bold;
            color: $dark-grey;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            align-self: flex-end;
            margin-right: 15px;
            padding: 1rem;
        }
    }
    .check {
        background-color: $third-color;
        width: 50px;
        color: $white-color;
        @include flexCenter;
        border-radius: 0 15px 15px 0;
        transition: 250ms ease-in-out;
        flex-shrink: 0;
        right: 0;
        top: 0;
        margin-right: -60px;
    }
}

.order {
    display: flex;
    justify-content: center;
}

.menu_1 .start_box:nth-child(1) {
    animation-delay: 0.3s;
}
.menu_1 .start_box:nth-child(2) {
    animation-delay: 0.5s;
}
.menu_1 .start_box:nth-child(3) {
    animation-delay: 1s;
}

.menu_2 .start_box:nth-child(1) {
    animation-delay: 1.5s;
}
.menu_2 .start_box:nth-child(2) {
    animation-delay: 2s;
}
.menu_2 .start_box:nth-child(3) {
    animation-delay: 2.5s;
}

.menu_3 .start_box:nth-child(1) {
    animation-delay: 3s;
}
.menu_3 .start_box:nth-child(2) {
    animation-delay: 3.5s;
}
.menu_3 .start_box:nth-child(3) {
    animation-delay: 4s;
}