

@keyframes bars {
    0% {
        transform: scaleY(0);
        opacity: 0;
    }

    25% {
        transform: scaleY(0.25);
        opacity: 0.25;
    }

    50% {
        transform: scaleY(0.5);
        opacity: 0.5;
    }

    75% {
        transform: scaleY(0.75);
        opacity: 0.75;
    }

    100% {
        transform: scaleY(1.0);
        opacity: 1;
    }
}

// Card menu

@keyframes slide {
    from {
        opacity: 0;
        transform: translateX(-50px);
        }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
