.checkbox_container {
    position: absolute;
    bottom: 15px;
    right: 26px;
}

.checkbox_label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 24px;
    position: relative;
}

.checkbox_label .fa-regular {
    display: inline-block;
}

.checkbox_label .fa-solid {
    display: none;
}

input[type="checkbox"]:checked + .checkbox_label .fa-regular {
    display: none;
}

input[type="checkbox"]:checked + .checkbox_label .fa-solid {
    display: inline-block;
    color: $main-color;
}